<div class="dashboard-container">
    <div class="dashboard-container__welcome-bar">
        <h2>Welcome!</h2>
        <p>Mr. Obama / Dashboard</p>

    </div>

    <div class="dashboard-container__stats-container">
        <div class="dashboard-container__stats-container__card">
            <div class="card-img-visits card-img">
                <svg>
                    <use xlink:href="#people"></use>
                </svg>
            </div>

            <div class="stats">
                <h3>64,570</h3>
                <p>Today's Visits</p>
            </div>
        </div>

        <div class="dashboard-container__stats-container__card">
            <div class="card-img-revenue card-img">
                <svg>
                    <use xlink:href="#dollar"></use>
                </svg>
            </div>

            <div class="stats">
                <h3>31,570</h3>
                <p>Total revenue</p>
            </div>
        </div>

        <div class="dashboard-container__stats-container__card">
            <div class="card-img-sales card-img">
                <svg>
                    <use xlink:href="#sales"></use>
                </svg>
            </div>

            <div class="stats">
                <h3>280</h3>
                <p>Today's Sales</p>
            </div>
        </div>

        <div class="dashboard-container__stats-container__card">
            <div class="card-img-conversion card-img">
                <svg>
                    <use xlink:href="#bank"></use>
                </svg>
            </div>

            <div class="stats">
                <h3>0.16%</h3>
                <p>Conversion</p>
            </div>
        </div>
    </div>

    <div class="dashboard-container__cards-container">
        <div class="card-reusable card1">
            <h4>YEARLY SALES REPORT</h4>

        </div>

        <div class="card-reusable card2">
            <h4>TOTAL REVENUE</h4>

        </div>

        <div class="card-reusable card3">
            <h4>DAILY SALES REPORT</h4>

        </div>


    </div>

    <div class="dashboard-container__table-container">
        <div class="card-reusable table-left">
            <h4>Latest projects</h4>
            <h5>Awesome text</h5>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Project name</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Asigns</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark Frontend</td>
                        <td>01/01/1986</td>
                        <td>01/01/1989</td>
                        <td>Released</td>
                        <td>Coderthemes</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Mark Frontend</td>
                        <td>01/01/1986</td>
                        <td>01/01/1989</td>
                        <td>Released</td>
                        <td>Coderthemes</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Mark Frontend</td>
                        <td>01/01/1986</td>
                        <td>01/01/1989</td>
                        <td>Released</td>
                        <td>Coderthemes</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Mark Frontend</td>
                        <td>01/01/1986</td>
                        <td>01/01/1989</td>
                        <td>Released</td>
                        <td>Coderthemes</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Mark Frontend</td>
                        <td>01/01/1986</td>
                        <td>01/01/1989</td>
                        <td>Released</td>
                        <td>Coderthemes</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Mark Frontend</td>
                        <td>01/01/1986</td>
                        <td>01/01/1989</td>
                        <td>Released</td>
                        <td>Coderthemes</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>Mark Frontend</td>
                        <td>01/01/1986</td>
                        <td>01/01/1989</td>
                        <td>Released</td>
                        <td>Coderthemes</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table-right">
            <div class="card-reusable table-right__card">
                <div >
                    <img class="table-right-img" src="./assets/img/portrait.jpg" alt="">
                </div>
                <div class="table-right-desc">
                    <h5>Chameleon</h5>
                    <p>I like to change colors</p>
                    <p class="p1">Admin</p>

                </div>
            </div>

            <div class="card-reusable table-right__card ">
                <div>
                    <img class="table-right-img" src="./assets/img/portrait.jpg" alt="">
                </div>
                <div class="table-right-desc">
                    <h5>Chameleon</h5>
                    <p>I like to change colors</p>
                    <p class="p2">Developer</p>

                </div>
            </div>

            <div class="card-reusable table-right__card ">
                <div >
                    <img class="table-right-img" src="./assets/img/portrait.jpg" alt="">
                </div>
                <div class="table-right-desc">
                    <h5>Chameleon</h5>
                    <p>I like to change colors</p>
                    <p class="p3">User</p>

                </div>
            </div>

        </div>
    </div>




</div>