<div class="dashboard-container">
    <div class="dashboard-container__welcome-bar">
        <h2>Welcome!</h2>
        <p>Mr. Obama / Dashboard</p>
        
    </div>


    <div class="dashboard-container__stats-container">
        <div class="dashboard-container__stats-container__card">
            <div class="card-img-visits card-img">
                <svg>
                    <use xlink:href="#people"></use>
                </svg>
            </div>

            <div class="stats">
                <h3>64,570</h3>
                <p>Today's Visits</p>
            </div>
        </div>

        <div class="dashboard-container__stats-container__card">
            <div class="card-img-revenue card-img">
                <svg>
                    <use xlink:href="#dollar"></use>
                </svg>
            </div>

            <div class="stats">
                <h3>31,570</h3>
                <p>Total revenue</p>
            </div>
        </div>

        <div class="dashboard-container__stats-container__card">
            <div class="card-img-sales card-img">
                <svg>
                    <use xlink:href="#sales"></use>
                </svg>
            </div>

            <div class="stats">
                <h3>280</h3>
                <p>Today's Sales</p>
            </div>
        </div>

        <div class="dashboard-container__stats-container__card">
            <div class="card-img-conversion card-img">
                <svg>
                    <use xlink:href="#bank"></use>
                </svg>
            </div>

            <div class="stats">
                <h3>0.16%</h3>
                <p>Conversion</p>
            </div>
        </div>
    </div>




</div>