<div class="page-container " data-sidenav="">
    <div class="upper-dir-bar">
        <h2>Team</h2>
        <p>Mr. Obama / Extras / Team</p>
    </div>

    <div class="extras-team-container">
        <div class="profile-card card-reusable">
            <div class="profile-img-container">
                <img class="img-circle" src="./assets/img/portrait.jpg" alt="">
                <h3>Mc Obama</h3>
                <p>@USA_Designer</p>
            </div>

            <div class="profile-contacts-btn">
                <button type="button" class="btn btn-success">Follow</button>
                <button type="button" class="btn btn-danger">Message</button>
            </div>

            <div class="profile-personal-info">
                <div class="personal-info-line">
                    <h6>Full Name:</h6>
                    <p>Mc Macmacon Obama</p>
                </div>

                <div class="personal-info-line">
                    <h6>Mobile:</h6>
                    <p>+370 (555) 55 555</p>
                </div>
                <div class="personal-info-line">
                    <h6>Email:</h6>
                    <p>0b4m4@hotmail.com</p>
                </div>
                <div class="personal-info-line">
                    <h6>Location:</h6>
                    <p>USA</p>
                </div>
            </div>

            <div class="profile-soc-media">
                <a class="soc-media-circle" href="">
                    <svg>
                        <use xlink:href="#facebook"></use>
                    </svg>
                </a>

                <a class="soc-media-circle" href="">
                    <svg>
                        <use xlink:href="#twitter"></use>
                    </svg>
                </a>

                <a class="soc-media-circle" href="">
                    <svg>
                        <use xlink:href="#skype"></use>
                    </svg>
                </a>


            </div>

        </div>


        <div class="profile-card card-reusable">
            <div class="profile-img-container">
                <img class="img-circle" src="./assets/img/portrait.jpg" alt="">
                <h3>Mc Obama</h3>
                <p>@USA_Designer</p>
            </div>

            <div class="profile-contacts-btn">
                <button type="button" class="btn btn-success">Follow</button>
                <button type="button" class="btn btn-danger">Message</button>
            </div>

            <div class="profile-personal-info">
                <div class="personal-info-line">
                    <h6>Full Name:</h6>
                    <p>Mc Macmacon Obama</p>
                </div>

                <div class="personal-info-line">
                    <h6>Mobile:</h6>
                    <p>+370 (555) 55 555</p>
                </div>
                <div class="personal-info-line">
                    <h6>Email:</h6>
                    <p>0b4m4@hotmail.com</p>
                </div>
                <div class="personal-info-line">
                    <h6>Location:</h6>
                    <p>USA</p>
                </div>
            </div>

            <div class="profile-soc-media">
                <a class="soc-media-circle" href="">
                    <svg>
                        <use xlink:href="#facebook"></use>
                    </svg>
                </a>

                <a class="soc-media-circle" href="">
                    <svg>
                        <use xlink:href="#twitter"></use>
                    </svg>
                </a>

                <a class="soc-media-circle" href="">
                    <svg>
                        <use xlink:href="#skype"></use>
                    </svg>
                </a>


            </div>

        </div>

        <div class="profile-card card-reusable">
            <div class="profile-img-container">
                <img class="img-circle" src="./assets/img/portrait.jpg" alt="">
                <h3>Mc Obama</h3>
                <p>@USA_Designer</p>
            </div>

            <div class="profile-contacts-btn">
                <button type="button" class="btn btn-success">Follow</button>
                <button type="button" class="btn btn-danger">Message</button>
            </div>

            <div class="profile-personal-info">
                <div class="personal-info-line">
                    <h6>Full Name:</h6>
                    <p>Mc Macmacon Obama</p>
                </div>

                <div class="personal-info-line">
                    <h6>Mobile:</h6>
                    <p>+370 (555) 55 555</p>
                </div>
                <div class="personal-info-line">
                    <h6>Email:</h6>
                    <p>0b4m4@hotmail.com</p>
                </div>
                <div class="personal-info-line">
                    <h6>Location:</h6>
                    <p>USA</p>
                </div>
            </div>

            <div class="profile-soc-media">
                <a class="soc-media-circle" href="">
                    <svg>
                        <use xlink:href="#facebook"></use>
                    </svg>
                </a>

                <a class="soc-media-circle" href="">
                    <svg>
                        <use xlink:href="#twitter"></use>
                    </svg>
                </a>

                <a class="soc-media-circle" href="">
                    <svg>
                        <use xlink:href="#skype"></use>
                    </svg>
                </a>


            </div>

        </div>
    </div>
</div>