<div class="page-container">
    <div class="upper-dir-bar">
        <h2>Pricing</h2>
        <p>Mr. Obama / Extras / Pricing</p>
    </div>

    <div class="pricing-cards-container">

        <div class="pricing-cards-header">
            <h3>Simple Pricing</h3>
        </div>

        <div class="card-reusable card-pricing">

            <div class="card-body text-center">
                <p class="card-plan-name text-success">STARTER PACK</p>
                <h1 class="pricing-card-title">$19 </h1>
                <small class="text-muted mb-4">Per Month</small>
                <ul class="list-unstyled mt-4 mb-4">
                    <li>
                        <svg><use xlink:href="#cloud"></use></svg>
                        10GB Storage
                    </li>
                    <li>
                        <svg><use xlink:href="#bag"></use></svg>
                        50GB Bandwich
                    </li>
                    <li>
                        <svg><use xlink:href="#magicWand"></use></svg>
                        No domain
                    </li>
                    <li>
                        <svg><use xlink:href="#bussinesMan"></use></svg>
                        1 User
                    </li>
                    <li>
                        <svg><use xlink:href="#letter"></use></svg>
                        Email Support
                    </li>
                    <li>
                        <svg><use xlink:href="#headset"></use></svg>
                        24/7 Support
                    </li>
                </ul>
                <button type="button" class="btn btn-danger btn-block rounded-pill">Signup Now</button>
            </div>
        </div>


        <div class="card-reusable card-pricing">
            <div class="ribbon"><span>POPULAR</span></div>
            <div class="card-body text-center ">
                <p class="card-plan-name text-success">STARTER PACK</p>
                <h1 class="pricing-card-title">$15</h1>
                <small class="text-muted ">Per Month</small>
                <ul class="list-unstyled mt-4 mb-4">
                    <li>
                        <svg><use xlink:href="#cloud"></use></svg>
                        50GB Storage
                    </li>
                    <li>
                        <svg><use xlink:href="#bag"></use></svg>
                        1200GB Bandwich
                    </li>
                    <li>
                        <svg><use xlink:href="#magicWand"></use></svg>
                        5 domain
                    </li>
                    <li>
                        <svg><use xlink:href="#bussinesMan"></use></svg>
                        100 User
                    </li>
                    <li>
                        <svg><use xlink:href="#letter"></use></svg>
                        Email Support
                    </li>
                    <li>
                        <svg><use xlink:href="#headset"></use></svg>
                        24/7 Support
                    </li>
                </ul>
                <button type="button" class="btn btn-danger btn-block rounded-pill">Signup Now</button>
            </div>
        </div>

        <div class="card-reusable card-pricing">

            <div class="card-body text-center">
                <p class="card-plan-name text-success">STARTER PACK</p>
                <h1 class="pricing-card-title">$29 </h1>
                <small class="text-muted">Per Month</small>
                <ul class="list-unstyled mt-4 mb-4">
                    <li>
                        <svg><use xlink:href="#cloud"></use></svg>
                        1000GB Storage
                    </li>
                    <li>
                        <svg><use xlink:href="#bag"></use></svg>
                        Unlimited Bandwich
                    </li>
                    <li>
                        <svg><use xlink:href="#magicWand"></use></svg>
                        20 domain
                    </li>
                    <li>
                        <svg><use xlink:href="#bussinesMan"></use></svg>
                        Unlimited User
                    </li>
                    <li>
                        <svg><use xlink:href="#letter"></use></svg>
                        Email Support
                    </li>
                    <li>
                        <svg><use xlink:href="#headset"></use></svg>
                        24/7 Support
                    </li>
                </ul>
                <button type="button" class="btn btn-danger btn-block rounded-pill">Signup Now</button>
            </div>
        </div>

    </div>











</div>