<div class="profile-container page-container">
    <div class="upper-dir-bar">
        <h2>Profile</h2>
        <p>Mr. Obama / Extras / Profile</p>
    </div >

    <div class="profile-cards-container">
        <div class="profile-cards-container__left">
            <div class="profile-card card-reusable">
                <div class="profile-img-container">
                    <img class="img-circle" src="./assets/img/portrait.jpg" alt="">
                    <h3>Mc Obama</h3>
                    <p>@USA_Designer</p>
                </div>

                <div class="profile-contacts-btn">
                    <button type="button" class="btn btn-success">Follow</button>
                    <button type="button" class="btn btn-danger">Message</button>
                </div>

                <div class="profile-personal-info">
                    <div class="personal-info-line">
                        <h6>Full Name:</h6>
                        <p>Mc Macmacon Obama</p>
                    </div>

                    <div class="personal-info-line">
                        <h6>Mobile:</h6>
                        <p>+370 (555) 55 555</p>
                    </div>
                    <div class="personal-info-line">
                        <h6>Email:</h6>
                        <p>0b4m4@hotmail.com</p>
                    </div>
                    <div class="personal-info-line">
                        <h6>Location:</h6>
                        <p>USA</p>
                    </div>
                </div>

                <div class="profile-soc-media">
                    <a class="soc-media-circle" href="">
                        <svg>
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>

                    <a class="soc-media-circle" href="">
                        <svg>
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>

                    <a class="soc-media-circle" href="">
                        <svg>
                            <use xlink:href="#skype"></use>
                        </svg>
                    </a>


                </div>

            </div>
            <div class="card-reusable">
                1lower
            </div>
        </div>

        <div class="profile-cards-container__right">
            <div class="card-reusable">
                <nav>
                    <div class="nav nav-tabs font-weight-bold" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active text-dark" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                            role="tab" aria-controls="nav-home" aria-selected="true">ABOUT ME</a>
                        <a class="nav-item nav-link text-dark" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                            role="tab" aria-controls="nav-profile" aria-selected="false">GALLERY</a>
                        <a class="nav-item nav-link text-dark" id="nav-contact-tab" data-toggle="tab" href="#nav-contact"
                            role="tab" aria-controls="nav-contact" aria-selected="false">SETTINGS</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <p class="about-me-box"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat quia, recusandae magni facilis 
                        ullam dolores expedita tempora sequi. Beatae nisi dicta nobis, atque fugit consequatur vero. Quae 
                        accusantium sapiente eligendi? accusantium sapiente eligendi? accusantium sapiente eligendi?
                        
                        </p>
                        <h3 class="experience-header">Experience</h3>
                        <div class="experience-box">
                            <h5 class="header">Lead designer / Developer</h5>
                            <p class="website">namesiteweb.org</p>
                            <p class="date">2010-2015</p>
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi ducimus voluptatem iure 
                                fugiat fugit, in, ipsa, incidunt tempore tenetur totam reiciendis. Aliquid qui nihil beatae 
                                nobis rem impedit aut voluptatibus!
                            </p>
                        </div>
                        <div class="experience-box">
                            <h5 class="header">Lead designer / Developer</h5>
                            <p class="website">namesiteweb.org</p>
                            <p class="date">2010-2015</p>
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi ducimus voluptatem iure 
                                fugiat fugit, in, ipsa, incidunt tempore tenetur totam reiciendis. Aliquid qui nihil beatae 
                                nobis rem impedit aut voluptatibus!
                            </p>
                        </div>
                        


                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        Antras</div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    Trecias</div>
                </div>
            </div>
        </div>
    </div>
</div>