.main-nav {
    background-color: $main-color;
    display: flex;
    height: $nav-height;
    position: sticky;
    top: 0;
    z-index: 1000;
    
    svg {
        width: 24px;
        height: 24px;
        fill: white;
    }

}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $sidenav-width;

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $nav-text-color;
    }

    span {
        font-size: 20px;
        text-transform: uppercase;
    }

    svg {
        margin-right: 10px;
    }
}


.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 81%;

    &__left {
        position: relative;
        display: flex;
        align-items: center;

        .menu-icon{
            margin: 0 20px 0 12px;
        }

        .search-icon {
            position: absolute;
            right: 6px;
            top: 7px;
            fill: #6573C4;
        }
        input {
            border: 1px solid rgba(255, 255, 255, 0.1);
            background: rgba(255, 255, 255, 0.1);
            color: white;
            padding: 6px 18px;
            &::placeholder {
                color: white;
            }
        }
    }

    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        li {
            display: inline-block;
            padding: 0 12px;

            a{
                display: inline-block;
            }
        }

        .img-circle{
            border-radius: 50%;
            width: 36px;
            height: 36px;
        }
    }

}
    

