.profile-container {
    
    .profile-cards-container {
        
        display: flex;
        justify-content: space-between;
        

        &__left {
            flex-basis: 35%;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            

            

        }

        &__right {
            flex-basis: 65%;
            flex-grow: 1;

            .nav-tabs {
                .active {
                    border-color: #fff #fff rgb(2, 4, 129) #fff;
                }
            } 

            .about-me-box {
                font-size: 16px;
                font-weight: 500;
                margin: 20px 0 ;
            }

            .experience-header {
                margin: 0 0 20px 0;
            }

            .experience-box {
                margin: 15px 0 ;
                border-bottom: 1px solid rgb(238, 237, 237);

                .header {
                    color: blue;
                    font-size: 16px;
                    margin: 0 0 5px 0;
                }

                .website {
                    color: rgb(78, 78, 78);
                    font-size: 14px;
                    font-weight: 700;
                    margin: 0 0 10px 0;
                }

                .date {
                    font-weight: 700;
                    margin: 0 0 10px 0;
                }

                .description {
                    color: rgb(151, 149, 149);
                    font-size: 14px;
                    margin: 0 0 15px 0;
                }

            }

        }



    }






}