<nav>
    <div class="nav-logo">
        <a href="">
            <svg>
                <use xlink:href="#logo"></use>
            </svg>

            <span>LOGO</span>
        </a>
    </div>
    <div class="nav-menu">
        <div class="nav-menu__left">
            <svg>
                <use xlink:href="#menu"></use>
            </svg>

            <input type="text" placeholder="Search...">
        </div>

        <ul class="nav-menu__list">
            <li>
                <a href="">
                    <svg>
                        <use xlink:href="#dots"></use>
                    </svg>
                </a>
            </li>

            <li>
                <a href="">
                    <svg>
                        <use xlink:href="#notification"></use>
                    </svg>
                </a>
            </li>

            <li>
                <a href="">
                    <div class="">
                        <img class="img-circle" src="./assets/img/portrait.jpg" alt="">
                    </div>
                </a>
            </li>
        </ul>

    </div>
</nav>