<div class="sidenav">
    <div class="sidenav-divider">

        <h5 class="sidenav__title">Main</h5>
        <ul class="sidenav__list">
            <li class="active"><a href=""><svg>
                        <use xlink:href="#logo"></use>
                    </svg>Dashbord</a></li>
            <li><a href=""><svg>
                        <use xlink:href="#notification"></use>
                    </svg>UI Kit</a></li>
            <li><a href=""><svg>
                        <use xlink:href="#notification"></use>
                    </svg>Typography</a></li>
            <li><a href=""><svg>
                        <use xlink:href="#notification"></use>
                    </svg>Components</a></li>
            <li><a href="">Icons<svg>
                        <use xlink:href="#notification"></use>
                    </svg></a></li>
            <li><a href="">Forms<svg>
                        <use xlink:href="#notification"></use>
                    </svg> Dashbord</a></li>
        </ul>

        <h5 class="sidenav__title">More</h5>
        <ul class="sidenav__list">
            <li><a href=""><svg>
                        <use xlink:href="#logo"></use>
                    </svg>More</a></li>
            <li><a href=""><svg>
                        <use xlink:href="#logo"></use>
                    </svg>Charts</a></li>
            <li><a href=""><svg>
                        <use xlink:href="#logo"></use>
                    </svg>Maps</a></li>
            <li><a href=""><svg>
                        <use xlink:href="#logo"></use>
                    </svg>Mails</a></li>
        </ul>

        <h5 class="sidenav__title">Extra</h5>
        <ul class="sidenav__list">
            <li><a href=""><svg>
                        <use xlink:href="#logo"></use>
                    </svg>Dashbord</a></li>
            <li><a href=""><svg>
                        <use xlink:href="#logo"></use>
                    </svg>Dashbord</a></li>
            <li><a href=""><svg>
                        <use xlink:href="#logo"></use>
                    </svg>Dashbord</a></li>
        </ul>

    </div>

</div>